@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model List<Pierre.Models.Treat>;

<h1>Treats for @User.Identity.Name</h1>

@if (@Model.Any())
{
  <ul>
  @foreach (Treat treat in Model)
  {
    <li><a href='@Url.Action("Details", new { id = treat.TreatId })'><button class='btn btn-default'>@treat.Description</button></a></li>
  }
  </ul>
}
else
{
  <h3>No treats have been added yet!</h3>
} 

<a href='@Url.Action("Create")'><button>Add new treat</button></a>